.titleDiv {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 80px;
  flex-shrink: 0;
}
.frameDiv1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv,
.titleDiv1 {
  align-self: stretch;
  flex-shrink: 0;
}
.frameDiv {
  height: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
}
.titleDiv1 {
  position: relative;
  display: inline-block;
  height: 104px;
}
.frameDiv2,
.frameDiv3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameDiv3 {
  padding: 10px 200px;
  box-sizing: border-box;
  justify-content: center;
}
.frameDiv2 {
  height: 114px;
  flex-shrink: 0;
  justify-content: space-between;
}
.courseNameDiv {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 1256px;
  height: 43px;
  flex-shrink: 0;
}
.inputOutline {
  background-color: transparent;
  align-self: stretch;
}
.frameDiv6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.dropdownDefaultMenu,
.frameDiv5,
.frameDiv6 {
  align-self: stretch;
}
.frameDiv5 {
  height: 458px;
  flex-shrink: 0;
  justify-content: space-between;
}
.frameDiv4,
.frameDiv5,
.registerButtonDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frameDiv4 {
  align-self: stretch;
  padding: 0 10px 10px;
  box-sizing: border-box;
  justify-content: flex-start;
  text-align: left;
  color: #fff;
  font-family: "Mulish", sans-serif;
}
.registerButtonDiv {
  width: 357px;
  justify-content: flex-end;
}
.courseCreationPage1,
.frameDiv9 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}
.frameDiv9 {
  align-self: stretch;
  padding: 0 8px 0 0;
  align-items: flex-end;
}
.courseCreationPage1 {
  position: relative;
  background-color: #181919;
  width: 100%;
  height: 913px;
  padding: 41px 62px 0;
  align-items: center;
  gap: 15px;
  text-align: center;
  font-size: 16px;
  color: #e4e4e4;
  font-family: "Mulish", sans-serif;
}
