.nFTeach1Icon {
  position: relative;
  width: 120px;
  height: 60px;
  flex-shrink: 0;
  object-fit: cover;
}
.studentDashboardButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 19px;
  font-family: "Mulish", sans-serif;
  color: #e4e4e4;
  text-align: center;
  align-items: center;
  height: 39px;
}
.exploreButton,
.studentDashboardButton,
.tabsDiv {
  flex: 1;
  display: flex;
  justify-content: center;
}
.exploreButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 19px;
  font-family: "Mulish", sans-serif;
  color: #e4e4e4;
  text-align: center;
  align-items: center;
  height: 39px;
}
.tabsDiv {
  flex-direction: row;
  align-items: flex-start;
  gap: 45px;
}
.displayedNFTIcon,
.nameButton {
  position: relative;
  flex-shrink: 0;
}
.displayedNFTIcon {
  border-radius: 100px;
  width: 71px;
  height: 71px;
  object-fit: cover;
}
.nameButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: 19px;
  font-family: "Mulish", sans-serif;
  color: #5da395;
  text-align: left;
  display: flex;
  align-items: center;
  width: 135px;
  height: 39.28px;
}
.frameDiv1,
.profilePictureDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profilePictureDiv {
  width: 227px;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: 21px;
}
.frameDiv1 {
  flex: 1;
  padding: 0 0 0 100px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 157px;
}
.frameDiv,
.headerExploreDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  gap: 10px;
}
.headerExploreDiv {
  position: relative;
  background-color: #121212;
  width: 100%;
  flex-direction: column;
  padding: 17px 29px;
  box-sizing: border-box;
}
